body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}
h1 {
  font-size: 48px;
}
.wrapper {
  max-width: 800px;
  margin: 150px auto;
  padding: 30px 50px;
  border: 1px solid blueviolet;
  border-radius: 12px;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.border-description {
  border: 1px solid sandybrown;
  border-radius: 30px;
  padding: 10px;
}
ul {
  list-style: none;
  padding: 0px;
}
.margin li {
  text-align: left;
}
li {
  text-align: center;
}
.day {
  border: 1px solid skyblue;
}
